@media (min-width: 991px) and (max-width: 1070px) {

    .table-content-cell {
        padding: 0 15px;
    }

    .cell-contacts {
        min-width: 145px;
    }

    .name-cell {
        white-space: normal;
    }

    .table-container {
        padding: 0 10px;
    }

}