.header-container {
    display: flex;
    align-items: center;
    height: 72px;
    margin-bottom: 10px;
}

.header-logo {
    padding-left: 12px;
    margin-right: 52px;
}

.input-search {
    height: 44px;
    width: 581px;
    padding-left: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    border: 1px solid rgba(51, 51, 51, 0.2);
}

.input-search::placeholder {
    color: #B0B0B0;
}