.loader {
    animation: rotate 2s linear infinite;
    z-index: 2;
    position: absolute;
    top: 0;
    left:0;
    margin: 0;
    width: 25px;
    height: 25px;
}

.path {
    stroke: #9873FF;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

/*.big-loader {*/
/*  width: 120px;*/
/*  height: 115px;*/
/*}*/

.show-loader {
    position: relative;
}


.loader-container {
    position: absolute;
    display: inline-block;
    z-index: 1;
    top: 25%;
    background-color: inherit;
    left: 43%;
}


.big-loader .loader-container .loader {
    width: 75px;
    height: 75px;
    background-color: inherit;
}

.mini-loader .loader-container {
    position: absolute;
    display: inline-block;
    z-index: 1;
    top: -9%;
    width: 25px;
    height: 25px;
    background-color: white;
    left: -5px;
}

.mini-loader .path {
    stroke-width: 4;
}