.loader-container {
    display: table-cell;
    height: 150px;
    background-color: inherit;
}

.loader {
    animation: rotate 2s linear infinite;
    z-index: 2;
    position: absolute;
    top: -7%;
    left: 0;
    margin: 0;
    width: 21px;
    height: 21px;
}

.path {
    stroke: #9873FF;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

.show-loader {
    position: relative;
}

.big-loader .loader-container .loader {
    top: 30%;
    left: 50%;
    margin-left: -45px;
    width: 75px;
    height: 75px;
    background-color: inherit;
}

.mini-loader .loader-container {
    position: absolute;
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: inherit;
}

.mini-loader .path {
    stroke-width: 4;
}

.save-loader .path {
    stroke: white;
}

.save-loader .loader-container {
    top: 22%;
    left: 12%;
}