@import "loader.css";
@import "table.css";
@import "modal.css";
@import "header.css";

* {
  box-sizing: border-box;
}

html {
  font-family: "OpenSans", sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

.container {

}



