* {
  box-sizing: border-box;
}

html {
  font-family: 'OpenSans', sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}


.container {

}

.content {
  display: flex;
  padding-top: 20px;
  justify-content: center;
  background-color: #F5F5F5;
}

/*.table-container {*/
/*  width: 1186px;*/
/*}*/

.table-container-heading {
  margin-bottom: 21px;
}

.table {
  border-collapse: collapse;
}

.table-heading {
  font-size: 12px;
}

.table-line-heading {
  height: 32px;
  cursor: pointer;
}

.table-content {
  background-color: white;
}

.table-line {
  height: 60px;
}

.table-line-heading {
  padding: 0 20px;
}

.table-content-cell {
  padding: 0 20px;
  white-space: nowrap
}

.cell-id {
  font-size: 12px;
  color: #B0B0B0;
}

/*.cell-contacts {*/
/*  white-space: initial;*/
/*}*/

.icon-contact {
  width: 16px;
  height: 16px;
  display: inline-block;
}

.tel {
  background: url(/image/phone.svg) no-repeat;
}

.email {
  background: url(/image/mail.svg) no-repeat;
}

.vk {
  background: url(/image/vk.svg) no-repeat;
}

.facebook {
  background: url(/image/fb.svg) no-repeat;
}

.other {
  background: url(/image/other.svg) no-repeat;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

/* ALL TOOLTIP STYLES */
[tooltip] {
  position: relative;
}

[tooltip]::before,
[tooltip]::after {
  left: 50%;
  transform: translate(-50%, -.5em);
  text-transform: none;
  font-size: 12px;
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}

[tooltip]::before {
  content: "";
  border: 5px solid transparent;
  z-index: 1001;
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #333;
}

[tooltip]::after {
  content: attr(tooltip);
  font-family: Helvetica, sans-serif;
  text-align: center;
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: #333;
  color: #fff;
  z-index: 1000;
  bottom: calc(100% + 5px);
}

[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}

[tooltip]:hover::before,
[tooltip]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

.add-table-border {
  border: 1px solid red;
}

.btn {
  border: none;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  padding: 10px;
}

.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.modal {
  background-color: #fff;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.modal-overlay--visible {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}

.modal--visible {
  display: block;
}

.close-modal-btn {
  position: absolute;
  top: 23px;
  right: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  transition: all .3s ease;
}

.close-modal-btn::before,
.close-modal-btn::after {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 1px;
  background: #000;
  transition: all .3s ease;
}

.close-modal-btn::before {
  transform: rotate(45deg);
}

.close-modal-btn::after {
  transform: rotate(-45deg);
}

.close-modal-btn:hover::before,
.close-modal-btn:hover::after {
  background: var(--color-violet);
}

.close-modal-btn:active::before,
.close-modal-btn:active::after {
  background: var(--color-dark-violet);
}

.close-modal-btn:focus::before,
.close-modal-btn:focus::after {
  background: var(--color-violet);
}

.loader {
  /*position: fixed;*/
  /*top: 50vh;*/
  /*left: calc(50% - 60px);*/
  /*transform: translate(0, -50%);*/
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.test {
  color: red;
}

.image-sorting-up {
  background-image: url("/image/arrow_up.svg");
  background-repeat: no-repeat;
}

.image-sorting-down {
  background-image: url("/image/arrow_down.svg");
  background-repeat: no-repeat;
}

.edit-button-image {
  width: 20px;
  background-image: url(/image/edit.svg);
  background-repeat: no-repeat;
  height: 15px;
  display: inline-block;
  cursor: pointer;
}

.delete-button-image {
  width: 20px;
  background-image: url(/image/cancel.svg);
  background-repeat: no-repeat;
  height: 15px;
  display: inline-block;
  cursor: pointer;
}


