.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.table-container {
    margin-bottom: 40px;
    overflow: auto;
}

.table-container-heading {
    margin-bottom: 10px;
    padding-left: 40px;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}

.table {
    border-collapse: collapse;
    background-color: white;
}

.table-heading {
    font-size: 12px;
}

.table-line-heading {
    height: 32px;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #B0B0B0;
    white-space: nowrap;
}

.table-line-heading > div {
    display: inline-block;
}

.table-head-line-heading {
    background-color: #F5F5F5;
}

.sorting-direction {
    color: #9873FF;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
}

.header-table-highlight {
    color: #9873FF;
}

.table-content {
    background-color: white;
}

.table-line {
    height: 60px;
    border-bottom: 1px solid #c8c5d185;
}

.table-line-heading {
    padding: 0 20px;
}

.table-content-cell {
    padding: 0 20px;
    white-space: nowrap
}

.cell-id {
    font-size: 12px;
    color: #B0B0B0;
}

.time {
    font-weight: 400;
    font-size: 14px;
    color: #B0B0B0;
}

.cell-contacts {
    min-width: 115px;
    max-width: 130px;
    padding: 0;
    white-space: normal;
}

.icon-contact {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 7px;
    cursor: pointer;
}

.more-cell.icon-contact {
    display: inline-block;
}

.more {
    position: relative;
    width: 16px;
    height: 16px;
    padding: 2px;
    display: inline-block;
    border: 1px solid #B89EFF;
    border-radius: 100%;
    margin-right: 7px;
    cursor: pointer;
    transition: background-color .3s ease, color .3s ease, border-color .3s ease;
}

.more:hover {
    border-color: #9873FF;
    color: white;
    background-color: #9873FF;
}

.more-count {
    position: absolute;
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 11px;
}

.hide-more {
    display: none;
}

.icon-contact:nth-child(n + 6) {
    display: none;
}

.icon-contact-hide:nth-child(n + 5) {
    display: none;
}


.more-cell .icon-contact {
    display: inline-block;
}

.tel {
    background: url(/image/phone.svg) no-repeat;
    transition: background-image .3s ease;
}

.tel:hover {
    background: url(/image/phonehover.svg) no-repeat;
}

.email {
    background: url(/image/mail.svg) no-repeat;
    transition: background-image .3s ease;
}

.email:hover {
    background: url(/image/mailHover.svg);
}

.vk {
    background: url(/image/vk.svg) no-repeat;
    transition: background-image .3s ease;
}

.vk:hover {
    background: url(/image/vkHover.svg);
}

.facebook {
    background: url(/image/fb.svg) no-repeat;
    transition: background-image .3s ease;
}

.facebook:hover {
    background: url(/image/fbHover.svg);
}

.other {
    background: url(/image/other.svg) no-repeat;
    transition: background-image .3s ease;
}

.other:hover {
    background: url(/image/otherHover.svg);
}

/* ALL TOOLTIP STYLES */
[tooltip] {
    position: relative;
}

[tooltip]::before,
[tooltip]::after {
    left: 50%;
    transform: translate(-50%, -.5em);
    text-transform: none;
    font-size: 12px;
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
}

[tooltip]::before {
    content: "";
    border: 5px solid transparent;
    z-index: 1001;
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #333;
}

[tooltip]::after {
    content: attr(tooltip);
    font-family: Helvetica, sans-serif;
    text-align: center;
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: .3ch;
    box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
    background: #333;
    color: #fff;
    z-index: 1000;
    bottom: calc(100% + 5px);
}

[tooltip]:hover::before,
[tooltip]:hover::after {
    display: block;
}

/* don't show empty tooltips */
[tooltip=""]::before,
[tooltip=""]::after {
    display: none !important;
}

/* KEYFRAMES */
@keyframes tooltips-vert {
    to {
        opacity: .9;
        transform: translate(-50%, 0);
    }
}

@keyframes tooltips-horz {
    to {
        opacity: .9;
        transform: translate(0, -50%);
    }
}

[tooltip]:hover::before,
[tooltip]:hover::after {
    animation: tooltips-vert 300ms ease-out forwards;
}

.add-table-border {
    outline: 2px solid #8052FF;
}

.btn {
    border: none;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    padding: 10px;
}


.image-sorting {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 7px;
    margin-left: 3px;
    background-repeat: no-repeat;
}

.image-sorting-up {
    background-image: url("/image/arrow_up.svg");
}

.image-sorting-down {
    background-image: url("/image/arrow_down.svg");
}

.buttons-container {
    display: flex;
}

.edit-button-container,
.delete-button-container {
    display: flex;
    background-color: white;
}

.edit-delete-button {
    background-color: inherit;
    border: none;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    transition: color .3s ease;
}


.edit-delete-button:hover {
    color: #F06A4D;
}

.edit-button {
    margin-right: 20px;
    transition: color .3s ease;
}

.edit-button:hover {
    color: #9873FF;
}

.edit-button-image {
    width: 20px;
    background-image: url(/image/edit.svg);
    background-repeat: no-repeat;
    height: 15px;
    display: inline-block;
    cursor: pointer;
}

.delete-button-image {
    width: 20px;
    background-image: url(/image/cancel.svg);
    background-repeat: no-repeat;
    height: 15px;
    display: inline-block;
    cursor: pointer;
}

.button-add-client {
    position: relative;
    width: 216px;
    height: 44px;
    padding-left: 33px;
    border: 1px solid #9873FF;
    background-color: inherit;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #9873FF;
    transition: background-color .3s ease, color .3s ease, border .3s ease;
}

.button-add-client::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 16px;
    left: 22px;
    background-image: url("../image/addClient.svg");
    background-repeat: no-repeat;
    transition: background-image .3s ease;
}

.button-add-client:hover {
    color: white;
    background-color: #B89EFF;
    border: 1px solid #B89EFF;
}

.button-add-client:hover::before {
    background-image: url("../image/addClientHover.svg");
}

.button-add-client:active::before {
    background-image: url("../image/addClientHover.svg");
}

.button-add-client:active {
    color: white;
    background-color: #8052FF;
    border: 1px solid #8052FF;
}

